body {
  background-color: black;
  color: white;
  
}

h3 {
  color: rgb(103, 111, 255);
  text-transform: capitalize;
}

.App footer {
  text-align: center;
  margin: 30px;
}

.App-logo {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

.App a {
  color: rgb(103, 111, 255);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 860px;
}

@media (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 380px;
    padding: 0 20px;
  }
}







