body {
  background-color: black;
  color: white;
  text-align: center;
}

h2 {
  color: rgb(103, 111, 255);
  text-transform: capitalize;
  text-align: center;
  font-size: 40px;
}

h3 {
  color: rgb(103, 111, 255);
  text-transform: capitalize;
}

footer {
  text-align: center;
  padding-top: 40px;
}

a {
  color: rgb(103, 111, 255);
}

.container {
  padding: 0 40px;
}

.App-logo {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}


