.Dictionary .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 20px;
  }

.Search-line {
    width: 600px;
    margin: 0 15px;
    padding: 5px;
    border-radius: 20px;
    font-size: 18px;
}

.Search-button {
    font-size: 13px;
    padding: 8px;
    border-radius: 15px;
    transition: all 150ms ease-in-out;
    font-weight: bolder;
}

.Search-button:hover {
    background-color: rgb(103, 111, 255);
    color: black;
}

@media (max-width: 750px) {
    .Dictionary .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 18px;
        max-width: 500px;
      }
    
      .Search-line {
        width: 350px;
        margin: 0;
        margin-right: 3px;
    }
  }


@media (max-width: 480px) {
    .Dictionary .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 18px;
        max-width: 280px;
      }
    
      .Search-line {
        width: 190px;
        margin: 0;
        margin-right: 3px;
        padding: 5px;
        font-size: 13px;
    }
    
    .Search-button {
        font-size: 10px;
        padding: 5px;
    }
  }