.Meaning {
    font-size: 18px;
    line-height: 18px;
}

.Meaning h3 {
    font-size: 25px;
    margin-top: 30px;
}

.Meaning em {
    font-size: 13px;
    margin-left: 20px;
    margin-top: 4px;
}

.Meaning .Definition {
    font-weight: bold;
    margin-right: 4px;
}

@media (max-width: 480px) {
    .Meaning {
        font-size: 14px;
        line-height: 18px;
    }
    
    .Meaning h3 {
        font-size: 21px;
    }
    
    .Meaning em {
        font-size: 10px;
    }
}

